@font-face {
	font-family: Geogrotesque-Regular;
	src: url(/sites/numero10/themes/numero10/webfonts/24EFE3_0_0.eot?#iefix) format("embedded-opentype"), url(/sites/numero10/themes/numero10/webfonts/24EFE3_0_0.woff) format("woff"), url(/sites/numero10/themes/numero10/webfonts/24EFE3_0_0.ttf) format("truetype");
}
@font-face {
	font-family: Geogrotesque-MediumIt;
	src: url(/sites/numero10/themes/numero10/webfonts/24EFE3_1_0.eot?#iefix) format("embedded-opentype"), url(/sites/numero10/themes/numero10/webfonts/24EFE3_1_0.woff) format("woff"), url(/sites/numero10/themes/numero10/webfonts/24EFE3_1_0.ttf) format("truetype");
}
@font-face {
	font-family: Geogrotesque-SemiBoldIt;
	src: url(/sites/numero10/themes/numero10/webfonts/24EFE3_2_0.eot?#iefix) format("embedded-opentype"), url(/sites/numero10/themes/numero10/webfonts/24EFE3_2_0.woff) format("woff"), url(/sites/numero10/themes/numero10/webfonts/24EFE3_2_0.ttf) format("truetype");
}
.Geogrotesque-Regular {
	font-family: Geogrotesque-Regular; font-style: normal; font-weight: normal;
}
.Geogrotesque-MediumIt {
	font-family: Geogrotesque-MediumIt; font-style: normal; font-weight: normal;
}
.Geogrotesque-SemiBoldIt {
	font-family: Geogrotesque-SemiBoldIt; font-style: normal; font-weight: normal;
}
body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
label {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
select {
	margin: 0px; padding: 0px;
}
option {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
iframe {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
html {
	background: rgb(255, 255, 255); height: 100%; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	font: 100%/normal Geogrotesque-Regular, "Trebuchet MS", Arial, Helvetica, sans-serif; color: rgb(51, 51, 51); vertical-align: baseline; font-size-adjust: none; font-stretch: normal;
}
h1 {
	margin: 0px 0px 1em; font-size: 1em;
}
h2 {
	font: 2.12em/normal Geogrotesque-MediumIt, "Trebuchet MS", sans-serif; margin: 1em 0px 0.3em; font-size-adjust: none; font-stretch: normal;
}
h3 {
	margin: 1em 0px 0.5em; font-size: 1.12em;
}
h4 {
	margin: 1em 0px 0.5em; font-size: 1em;
}
h5 {
	margin: 1em 0px 0.5em; font-size: 0.87em;
}
h6 {
	margin: 1em 0px 0.3em; font-size: 0.75em;
}
h1:first-child {
	margin-top: 0px;
}
h2:first-child {
	margin-top: 0px;
}
h3:first-child {
	margin-top: 0px;
}
p {
	margin: 0px 0px 1em;
}
dl {
	margin: 0px 0px 1em;
}
ol {
	margin: 0px 0px 1em;
}
ul {
	margin: 0px 0px 1em;
}
ul li {
	list-style: none;
}
ol li {
	list-style: decimal inside;
}
dt {
	font-weight: bold;
}
dd {
	padding: 0px 0px 0px 2em;
}
hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(51, 51, 51) currentColor currentColor; margin: 1em 0px 1.2em; padding: 0px; border-image: none; height: 1px; clear: both; display: block;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
sub {
	line-height: 0; font-size: 85%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 85%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: 0.75em;
}
::selection {
	background: rgb(250, 36, 88); color: rgb(0, 0, 0); text-shadow: none;
}
select {
	outline-color: transparent;
}
textarea {
	outline-color: transparent;
}
input {
	outline-color: transparent;
}
a {
	transition:color 0.1s linear; color: rgb(255, 255, 255); text-decoration: none; -webkit-transition: color .1s linear; -moz-transition: color .1s linear; -o-transition: color .1s linear;
}
a:visited {
	color: rgb(255, 255, 255);
}
a:hover {
	color: rgb(250, 36, 88);
}
a:focus {
	outline: 0px;
}
a:active {
	outline: 0px;
}
table {
	margin: 0px 0px 1em; width: 100%; border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left;
}
th {
	padding: 0.5em; text-align: left;
}
td {
	padding: 0.5em;
}
img {
	border: 0px currentColor; border-image: none; vertical-align: middle; -ms-interpolation-mode: bicubic;
}
img.fl {
	margin: 0px 1em 1em 0px;
}
img.fr {
	margin: 0px 0px 1em 1em;
}
.nowrap {
	white-space: nowrap;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cl {
	clear: both; display: block;
}
.cf::before {
	display: table; content: "";
}
.cf::after {
	display: table; content: "";
}
.w1280::before {
	display: table; content: "";
}
.w1280::after {
	display: table; content: "";
}
.wrap::before {
	display: table; content: "";
}
.wrap::after {
	display: table; content: "";
}
.cf::after {
	clear: both;
}
.w1280::after {
	clear: both;
}
.wrap::after {
	clear: both;
}
.ie7 .cf {
	-ms-zoom: 1;
}
.ie7 .w1280 {
	-ms-zoom: 1;
}
.ie7 .wrap {
	-ms-zoom: 1;
}
.invisible {
	visibility: hidden;
}
.hidden {
	display: none; visibility: hidden;
}
.flow {
	overflow: hidden;
}
.close {
	top: -25px; right: 0px; position: absolute;
}
.artwork {
	background: rgb(255, 255, 255);
}
#primary {
	background: rgb(250, 36, 88); list-style: none inside; margin: 0px; padding: 0px; top: 320px; right: 0px; position: fixed; z-index: 15; min-width: 100px; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}
#primary h3 {
	margin: 0px; letter-spacing: 3px; font-weight: normal;
}
#primary h3 a {
	background: url("/sites/numero10/themes/numero10/images/ico/expand.png") no-repeat 87% 9px; padding: 0.2em 0.75em 0.25em; color: rgb(0, 0, 0); display: block;
}
#primary ul {
	font: 0.75em/normal Geogrotesque-MediumIt; margin: 0px; font-size-adjust: none; font-stretch: normal;
}
#primary .top {
	border-top-color: rgba(0, 0, 0, 0.6); border-top-width: 1px; border-top-style: solid;
}
#primary li {
	list-style: none inside; margin: 0px; padding: 0px; border-bottom-color: rgba(0, 0, 0, 0.6); border-bottom-width: 1px; border-bottom-style: solid;
}
#primary li.dot {
	border-bottom-style: dotted;
}
#primary li.dot.blue {
	border-bottom-style: solid;
}
#primary li a {
	padding: 0.25em 1.15em; transition:100ms linear; color: rgb(0, 0, 0); text-transform: uppercase; display: block; -webkit-transition: all 100ms linear; -moz-transition: all 100ms linear; -o-transition: all 100ms linear;
}
#primary:hover ul {
	display: block;
}
.active#primary h3 {
	background: rgb(0, 0, 0);
}
#primary:hover h3 {
	background: rgb(0, 0, 0);
}
.active#primary h3 a {
	color: rgb(255, 255, 255);
}
#primary:hover h3 a {
	color: rgb(255, 255, 255);
}
.active#primary h3 a {
	background: url("/sites/numero10/themes/numero10/images/ico/x.png") no-repeat 93% 11px;
}
.active#primary ul {
	display: block;
}
#primary .active.white {
	background: rgb(255, 255, 255);
}
#primary .white:hover a {
	background: rgb(255, 255, 255);
}
#primary .active.orange {
	background: rgb(250, 163, 37);
}
#primary .orange:hover a {
	background: rgb(250, 163, 37);
}
#primary .active.yellow {
	background: rgb(255, 246, 99);
}
#primary .yellow:hover a {
	background: rgb(255, 246, 99);
}
#primary .active.green {
	background: rgb(149, 202, 92);
}
#primary .green:hover a {
	background: rgb(149, 202, 92);
}
#primary .active.cyan {
	background: rgb(0, 220, 173);
}
#primary .cyan:hover a {
	background: rgb(0, 220, 173);
}
#primary .active.blue {
	background: rgb(0, 183, 222);
}
#primary .blue:hover a {
	background: rgb(0, 183, 222);
}
#primary .active.magenta {
	background: rgb(146, 74, 144);
}
#primary .magenta:hover a {
	background: rgb(146, 74, 144);
}
#primary .active.colorworks {
	background: rgb(53, 221, 236);
}
#primary .colorworks:hover a {
	background: rgb(53, 221, 236);
}
#header {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 104px; color: rgb(194, 194, 194); position: fixed; z-index: 15;
}
.w1280 {
	margin: 0px auto; width: 1280px;
}
.wrap {
	margin: 0px auto; width: 950px;
}
.section {
	padding: 104px 0px 0px; width: 100%; height: 696px; color: rgb(255, 255, 255); overflow: hidden; position: relative;
}
.contact-top {
	height: 295px;
}
.contact-bot {
	padding-bottom: 200px;
}
.content {
	left: 0px; top: 104px; width: 100%; height: 530px; color: rgb(255, 255, 255); position: absolute;
}
.split {
	left: 0px; width: 100%; height: 348px; position: absolute;
}
.split-up {
	top: 0px;
}
.split-down {
	top: 348px;
}
.infograph {
	background: rgb(0, 0, 0); margin: 45px 0px; padding: 30px 15px; height: 380px; position: relative;
}
.fff {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
body.dotted {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFklEQVQImWOwsrL6z8DAgI4xBCgVBAA8uxmWctM4ogAAAABJRU5ErkJggg==");
}
.dark {
	color: rgb(255, 255, 255);
}
.bg-black {
	background-color: rgb(0, 0, 0);
}
.orange .sticker span {
	background: rgb(250, 163, 37);
}
.orange h2 {
	border-color: rgb(250, 163, 37) !important; color: rgb(250, 163, 37);
}
.orange ::selection {
	background: rgb(250, 163, 37); color: rgb(0, 0, 0); text-shadow: none;
}
.yellow .sticker span {
	background: rgb(255, 246, 99);
}
.yellow h2 {
	border-color: rgb(255, 246, 99) !important; color: rgb(255, 246, 99);
}
.yellow ::selection {
	background: rgb(255, 246, 99); color: rgb(0, 0, 0); text-shadow: none;
}
.green .sticker span {
	background: rgb(149, 202, 92);
}
.green h2 {
	border-color: rgb(149, 202, 92) !important; color: rgb(149, 202, 92);
}
.green ::selection {
	background: rgb(149, 202, 92); color: rgb(0, 0, 0); text-shadow: none;
}
.cyan .sticker span {
	background: rgb(0, 220, 173);
}
.cyan h2 {
	border-color: rgb(0, 220, 173) !important; color: rgb(0, 220, 173);
}
.cyan ::selection {
	background: rgb(0, 220, 173); color: rgb(0, 0, 0); text-shadow: none;
}
.blue .sticker span {
	background: rgb(0, 183, 222);
}
.blue h2 {
	border-color: rgb(0, 183, 222) !important; color: rgb(0, 183, 222);
}
.blue ::selection {
	background: rgb(0, 183, 222); color: rgb(255, 255, 255); text-shadow: none;
}
.magenta .sticker span {
	background: rgb(146, 74, 144);
}
.magenta h2 {
	border-color: rgb(146, 74, 144) !important; color: rgb(146, 74, 144);
}
.magenta ::selection {
	background: rgb(146, 74, 144); color: rgb(255, 255, 255); text-shadow: none;
}
.colorworks .sticker span {
	background: rgb(53, 221, 236); padding: 15px 7px 0px !important; border-radius: 65px !important; width: 60px !important; height: 60px !important; -webkit-border-radius: 65px;
}
.colorworks h2 {
	border-color: rgb(53, 221, 236) !important; color: rgb(53, 221, 236);
}
.colorworks ::selection {
	background: rgb(53, 221, 236); color: rgb(255, 255, 255); text-shadow: none;
}
#header {
	box-shadow: 0px 0px 12px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, .4);
}
#brand {
	padding: 0px 0px 0px 210px; width: 800px; float: left; position: relative;
}
#logo {
	margin: 0px; left: 45px; top: 0px; width: 120px; height: 164px; float: left; position: absolute; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}
#logo a {
	background: url("/sites/numero10/themes/numero10/images/logo.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 120px; height: 164px; text-indent: -999em; overflow: hidden; display: block; position: absolute;
}
#title {
	background: url("/sites/numero10/themes/numero10/images/txt/no10_title.png") no-repeat 0px 0px; margin: 14px 0px 5px; width: 194px; height: 54px; text-indent: -999em; overflow: hidden; font-size: 1em; float: left;
}
#subtitle {
	font: 600 0.8em/normal Geogrotesque-MediumIt, "Trebuchet MS", sans-serif; margin: 5px 0px 0px; width: 100%; letter-spacing: 1px; float: left; font-size-adjust: none; font-stretch: normal;
}
#radio {
	background: url("/sites/numero10/themes/numero10/images/radio_on_black_header.gif") no-repeat 0px 0px; margin: 16px 53px 0px 0px; width: 55px; height: 55px; float: right; display: block;
}
#radio:hover {
	background: url("/sites/numero10/themes/numero10/images/radio_on_black_header_mouseover.gif") no-repeat 0px 0px;
}
.fff#header #radio {
	background: url("/sites/numero10/themes/numero10/images/radio_on_white_header.gif") no-repeat 0px 0px;
}
.fff#header #radio:hover {
	background: url("/sites/numero10/themes/numero10/images/radio_on_white_header_mouseover.gif") no-repeat 0px 0px;
}
#lang-menu {
	font: 600 0.8em/normal Geogrotesque-MediumIt, "Trebuchet MS", sans-serif; margin: 7px 15px 0px 0px; text-transform: uppercase; letter-spacing: 1px; clear: right; float: right; font-size-adjust: none; font-stretch: normal;
}
#lang-menu li {
	margin: 0px 0px 0px 6px; padding: 0px 0px 0px 10px; float: left; position: relative;
}
#lang-menu a {
	color: rgba(255, 255, 255, 0.65);
}
#lang-menu a:hover {
	color: rgb(250, 36, 88);
}
#lang-menu .active a {
	color: rgba(255, 255, 255, 1);
}
#lang-menu li:first-child::before {
	content: "";
}
#lang-menu li::before {
	left: 0px; top: -1px; display: block; position: absolute; content: "/ ";
}
.fff#header {
	background: rgb(255, 255, 255);
}
.fff #title {
	background-position: 0px -54px;
}
.fff #lang-menu a {
	color: rgba(0, 0, 0, 0.8);
}
.fff #subtitle {
	color: rgba(0, 0, 0, 0.8);
}
.fff #lang-menu .active a {
	color: rgb(250, 36, 88);
}
.fff #lang-menu a:hover {
	color: rgb(250, 36, 88);
}
.fff #radio {
	background-position: 0px -55px;
}
.counter {
	padding: 5px; left: 250px; top: 10px; color: rgb(0, 0, 0); position: absolute; background-color: rgb(250, 36, 88);
}
.counter .current {
	color: rgb(0, 0, 0);
}
.campaign-list {
	background: rgb(0, 0, 0);
}
.campaign-top {
	padding: 10px 9px 0px 10px; margin-top: 71px;
}
.campaign-bot {
	margin: -2px 0px 0px; padding: 0px 9px 10px 10px;
}
.campaign-list ul {
	margin: 0px; text-align: center; border-top-color: rgb(51, 51, 51); border-left-color: rgb(51, 51, 51); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.campaign-list li {
	width: 185px; height: 110px; overflow: hidden; border-right-color: rgb(51, 51, 51); border-bottom-color: rgb(51, 51, 51); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left; display: inline; position: relative;
}
.campaign-list a {
	width: 100%; height: 100%; vertical-align: middle; display: block;
}
.campaign-list img {
	left: 0px; top: 0px; position: absolute;
}
.brand {
	transition:0.4s ease-in-out 0.2s; opacity: 1; -webkit-transition: all .4s ease-in-out 0.2s; -moz-transition: all .4s ease-in-out 0.2s; -o-transition: all .4s ease-in-out 0.2s;
}
.detail {
	transition:0.4s ease-in; opacity: 0; transform: scale(0); -webkit-transition: all 0.4s ease-in; -moz-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0);
}
.campaign-list li:hover .detail {
	opacity: 1; transform: scale(1); transition-delay: 0s; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s;
}
.campaign-list li:hover .brand {
	opacity: 0; transform: scale(0); transition-delay: 0s; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s;
}
.content-slider {
	background: rgb(0, 0, 0); margin: 70px 0px 45px; padding: 0px; position: relative;
}
.content-slider .viewport {
	width: 100%; height: 437px; overflow: hidden;
}
.content-slider > .viewport {
	position: relative;
}
.content-slider > .viewport > .cf {
	left: 0px; width: 19000px; position: relative;
}
.campaign {
	padding: 10px; width: 930px; float: left; position: relative;
}
.campaign-details {
	padding: 18px 0px 16px; width: 223px; height: 380px; font-size: 0.81em; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: left;
}
.campaign-details h3 {
	font: 1.38em/normal Geogrotesque-SemiBoldIt; margin: 0px; text-transform: uppercase; font-size-adjust: none; font-stretch: normal;
}
.campaign-details h4 {
	font: 1em/normal Geogrotesque-SemiBoldIt; margin: 0px 0px 1em; color: rgba(128, 128, 128, 1); font-size-adjust: none; font-stretch: normal;
}
.campaign-details p {
	margin: 0px 0px 2em;
}
.media-slider {
	width: 690px; float: right; position: relative;
}
.media-slider .viewport {
	width: 690px; height: 417px; overflow: hidden;
}
.media-slider .viewport .cf {
	left: 0px; width: 17250px; position: relative;
}
.media-slider li {
	width: 690px; height: 417px; text-align: center; float: left;
}
.nav {
	transition:0.5s ease-in-out; top: 168px; position: absolute; opacity: 0; -webkit-transition: all .5s ease-in-out 0s; -moz-transition: all .5s ease-in-out 0s; -o-transition: all .5s ease-in-out 0s;
}
.nav a {
	background: url("/sites/numero10/themes/numero10/images/ico/arrows-big.png") no-repeat 0px 0px; width: 62px; height: 100px; text-indent: -999em; overflow: hidden; display: block;
}
.prev.nav {
	left: 12px;
}
.prev.nav a:hover {
	background-position: 0px -100px;
}
.next.nav {
	right: 12px;
}
.next.nav a {
	background-position: 100% 0px;
}
.next.nav a:hover {
	background-position: 100% -100px;
}
.nav-small {
	background: url("/sites/numero10/themes/numero10/images/ico/arrows-small.png") no-repeat 0px 0px; top: 177px; width: 42px; height: 39px; text-indent: -999em; overflow: hidden; position: absolute;
}
.prev.nav-small {
	left: 0px;
}
.prev.nav-small:hover {
	background-position: 0px -39px;
}
.next.nav-small {
	background-position: 100% 0px; right: 0px;
}
.next.nav-small:hover {
	background-position: 100% -39px;
}
.content-slider .counter {
	transition:0.2s ease-in-out 0.5s; opacity: 0; -webkit-transition: all .2s ease-in-out .5s; -moz-transition: all .2s ease-in-out .5s; -o-transition: all .2s ease-in-out .5s;
}
.content-slider .close {
	transition:0.2s ease-in-out 0.5s; opacity: 0; -webkit-transition: all .2s ease-in-out .5s; -moz-transition: all .2s ease-in-out .5s; -o-transition: all .2s ease-in-out .5s;
}
.expanded {
	overflow: visible;
}
.ov {
	overflow: visible;
}
.expanded h2 {
	opacity: 0.3;
}
.expanded .campaign-list li {
	opacity: 0.3;
}
.expanded .campaign-list a {
	cursor: default;
}
.expanded .nav {
	transition:0.5s ease-in-out 0.3s; -webkit-transition: all .5s ease-in-out .3s; -moz-transition: all .5s ease-in-out .3s; -o-transition: all .5s ease-in-out .3s;
}
.expanded .prev.nav {
	left: -112px; opacity: 1;
}
.expanded .next.nav {
	right: -112px; opacity: 1;
}
.expanded .content-slider .counter {
	opacity: 1; transition-delay: 0s; -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s;
}
.expanded .content-slider .close {
	opacity: 1; transition-delay: 0s; -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s;
}
.expanded .brand {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.expanded .detail {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.expanded .brand {
	opacity: 100 !important; transform: scale(1) !important; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1);
}
.expanded .brand:hover {
	opacity: 100 !important; transform: scale(1) !important; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1);
}
.expanded .detail {
	opacity: 0 !important;
}
.expanded .detail:hover {
	opacity: 0 !important;
}
.latest-news {
	padding: 0px; font-size: 0.8em;
}
.news h2 {
	font-size: 2.83em;
}
.news h3 {
	font: 1.25em/117% Geogrotesque-SemiBoldIt; margin: 0px; text-transform: uppercase; font-size-adjust: none; font-stretch: normal;
}
.showreel .description {
	color: rgba(255, 255, 255, 0.85);
}
.feeds {
	color: rgba(255, 255, 255, 0.85);
}
.showreel {
	background: rgb(0, 0, 0); padding: 10px; width: 610px; float: left;
}
.showreel p {
	margin: 0px;
}
.video {
	margin: 0px 0px 10px; position: relative;
}
.play {
	background: url("/sites/numero10/themes/numero10/images/ico/play.png") no-repeat 0px 0px; left: 245px; top: 105px; width: 121px; height: 134px; text-indent: -999em; overflow: hidden; display: block; position: absolute;
}
.play:hover {
	background-position: 0px 100%;
}
.newsfeed {
	background: rgb(0, 0, 0); padding: 0px; width: 285px; float: right;
}
.newsfeed h2 {
	margin-top: 0px;
}
.rss {
	background: url("/sites/numero10/themes/numero10/images/ico/rss.png") no-repeat 0px 0px; margin: 12px 12px 0px 0px; width: 17px; height: 17px; text-indent: -999em; overflow: hidden; float: right; display: block;
}
.rss:hover {
	background-position: 0px 100%;
}
.ctrls {
	margin: 9px 0px 0px; float: right;
}
.ctrls a {
	background: url("/sites/numero10/themes/numero10/images/ico/ctrls.png") no-repeat 0px 0px; width: 11px; height: 7px; text-indent: -999em; overflow: hidden; display: block; position: relative;
}
.ctrls .up {
	margin: 0px 0px 7px;
}
.ctrls .up:hover {
	background-position: 100% 0px; top: -1px;
}
.ctrls .down {
	background-position: 0px 100%;
}
.ctrls .down:hover {
	background-position: 100% 100%; top: 1px;
}
.sticker {
	margin: 0px auto; transition:800ms linear; left: 47.2%; top: 312px; color: rgb(0, 0, 0) !important; line-height: 100%; font-family: Geogrotesque-Regular; font-weight: bold; visibility: visible; position: absolute; z-index: 10; opacity: 1; transform: rotate(-28.999998deg) scale(1); -webkit-transition: all 800ms linear; -moz-transition: all 800ms linear; -o-transition: all 800ms linear; -webkit-transform: rotate(-29deg) scale(1); -moz-transform: rotate(-29deg) scale(1); -o-transform: rotate(-29deg) scale(1);
}
.sticker span {
	padding: 14px 13px; border-radius: 36px; transition:300ms linear; width: 46px; height: 44px; text-align: center; display: block; box-shadow: 6px 6px 12px rgba(0,0,0,0.4); -webkit-border-radius: 36px; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, .4);
}
.sticker em {
	font: 0.62em/normal Geogrotesque-Regular; left: 1px; top: -5px; letter-spacing: 5px; position: relative; font-size-adjust: none; font-stretch: normal;
}
.sticker:hover span {
	background: rgb(250, 36, 88); box-shadow: 6px 6px 12px rgba(0,0,0,0.6); -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, .6);
}
.hide.sticker {
	visibility: hidden; opacity: 0; transform: rotate(-360deg) scale(0); -webkit-transform: rotate(-360deg) scale(0); -moz-transform: rotate(-360deg) scale(0); -o-transform: rotate(-360deg) scale(0);
}
.entry {
	width: 300px; float: left;
}
.entry h2 {
	font: 1.79em/114% Geogrotesque-SemiBoldIt, "Trebuchet MS", sans-serif; margin: 0px 0px 0.42em; padding: 0.2em 0px 0.38em; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;
}
.entry p {
	line-height: 124%; font-size: 1.06em;
}
.graphics {
	width: 600px; float: right;
}
.circle {
	background: url("/sites/numero10/themes/numero10/images/bg/circle.png") no-repeat 0px 0px; left: 140px; top: 32px; width: 315px; height: 315px; position: absolute;
}
.teamgraph {
	width: 100%; height: 400px; position: relative;
}
.teamgraph h3 {
	font: 1.32em/97% Geogrotesque-SemiBoldIt; margin: 0px; left: 253px; top: 167px; text-align: center; color: rgb(255, 255, 255); position: absolute; font-size-adjust: none; font-stretch: normal;
}
.teamgraph h5 {
	font: 1.1em/112% Geogrotesque-SemiBoldIt; margin: 0px 0px 0.1em; text-transform: uppercase; font-size-adjust: none; font-stretch: normal;
}
.teamgraph h6 {
	margin: 0px 0px 0.3em; font-size: 1em;
}
.teamgraph p {
	margin: 0px;
}
.area {
	color: rgb(0, 0, 0); position: absolute; box-shadow: 0px 0px 6px rgba(0,0,0,0.4); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
.area:hover {
	background: rgb(0, 0, 0) !important; z-index: 1; cursor: pointer; opacity: 1 !important;
}
.area h4 {
	font: 0.85em/112% Geogrotesque-SemiBoldIt; text-align: center; text-transform: uppercase; font-size-adjust: none; font-stretch: normal;
}
.member {
	font-size: 0.78em; position: absolute;
}
.member > div {
	padding: 8px 10px; width: 160px;
}
.blue.area {
	background: rgb(0, 183, 222); border-radius: 58px; border: 2px solid rgb(0, 183, 222); border-image: none; left: 326px; top: 5px; width: 116px; height: 116px; -webkit-border-radius: 58px;
}
.blue.area h4 {
	margin: 36px 0px 0px;
}
.blue.area:hover h4 {
	color: rgb(0, 183, 222);
}
.blue.area .member {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNg2H7vPwPD9nv/ARauBSnvZz4/AAAAAElFTkSuQmCC") repeat-x 0px 64px; left: -5px; top: -15px;
}
.blue.area .member > div {
	background: rgb(0, 183, 222);
}
.blue.area:hover .member {
	padding: 0px 0px 0px 72px; left: 116px;
}
.cyan.area {
	background: rgb(0, 220, 173); border-radius: 60px; border: 2px solid rgb(0, 220, 173); border-image: none; left: 402px; top: 100px; width: 93px; height: 93px; -webkit-border-radius: 60px;
}
.cyan.area h4 {
	margin: 24px 0px 0px;
}
.cyan.area:hover h4 {
	color: rgb(0, 220, 173);
}
.cyan.area .member {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNguLP2PwPDnbX/ARaMBRGqqMCSAAAAAElFTkSuQmCC") repeat-x 0px 63px; left: -45px; top: -19px;
}
.cyan.area .member > div {
	background: rgb(0, 220, 173);
}
.cyan.area:hover .member {
	padding: 0px 0px 0px 48px; left: 93px;
}
.green.area {
	background: rgb(149, 202, 92); border-radius: 60px; border: 2px solid rgb(149, 202, 92); border-image: none; left: 386px; top: 169px; width: 112px; height: 112px; -webkit-border-radius: 60px;
}
.green.area h4 {
	margin: 33px 0px 0px;
}
.green.area:hover h4 {
	color: rgb(149, 202, 92);
}
.green.area .member {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWOYeirmP8PUUzH/ARp+BXWEnJnfAAAAAElFTkSuQmCC") repeat-x 0px 65px; left: 22px; top: -10px;
}
.green.area .member > div {
	background: rgb(149, 202, 92);
}
.green.area:hover .member {
	padding: 0px 0px 0px 12px; left: 114px;
}
.yellow.area {
	background: rgb(255, 247, 100); border-radius: 60px; border: 2px solid rgb(255, 247, 100); border-image: none; left: 262px; top: 280px; width: 105px; height: 105px; -webkit-border-radius: 60px;
}
.yellow.area h4 {
	margin: 35px 0px 0px;
}
.yellow.area:hover h4 {
	color: rgb(255, 247, 100);
}
.yellow.area .member {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWP4/z3lP8P/7yn/ASIXBrOB5zZZAAAAAElFTkSuQmCC") repeat-x 0px 125px; left: -15px; top: -76px;
}
.yellow.area .member > div {
	background: rgb(255, 247, 100);
}
.yellow.area:hover .member {
	padding: 0px 0px 0px 143px; left: 107px;
}
.magenta.area {
	background: rgb(147, 75, 145); border-radius: 60px; border: 2px solid rgb(147, 75, 145); border-image: none; left: 185px; top: 7px; width: 88px; height: 88px; -webkit-border-radius: 60px;
}
.magenta.area h4 {
	margin: 29px 0px 0px;
}
.magenta.area:hover h4 {
	color: rgb(147, 75, 145);
}
.magenta.area .member {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWOY7D3xP8Nk74n/ARbMBN2/1ij5AAAAAElFTkSuQmCC") repeat-x 0px 52px; top: -9px; right: -35px;
}
.magenta.area .member > div {
	background: rgb(147, 75, 145);
}
.magenta.area:hover .member {
	padding: 0px 99px 0px 0px; right: 90px;
}
.pink.area {
	background: rgb(255, 47, 146); border-radius: 60px; border: 2px solid rgb(255, 47, 146); border-image: none; left: 107px; top: 126px; width: 78px; height: 78px; -webkit-border-radius: 60px;
}
.pink.area h4 {
	margin: 11px 0px 0px;
}
.pink.area:hover h4 {
	color: rgb(255, 47, 146);
}
.pink.area .member {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWP4rz/pP8N//Un/ARsdBX8pjJBXAAAAAElFTkSuQmCC") repeat-x 0px 48px; top: -10px; right: -15px;
}
.pink.area .member > div {
	background: rgb(255, 47, 146);
}
.pink.area:hover .member {
	padding: 0px 22px 0px 0px; right: 80px;
}
.red.area {
	background: rgb(229, 31, 78); border-radius: 60px; border: 2px solid rgb(229, 31, 78); border-image: none; left: 100px; top: 188px; width: 116px; height: 116px; -webkit-border-radius: 60px;
}
.red.area h4 {
	margin: 43px 0px 0px;
}
.red.area:hover h4 {
	color: rgb(229, 31, 78);
}
.red.area .member {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWN4Ku/3n+GpvN9/ABa3BKML3o85AAAAAElFTkSuQmCC") repeat-x 0px 47px; top: 10px; right: 19px;
}
.red.area .member > div {
	background: rgb(229, 31, 78);
}
.red.area:hover .member {
	padding: 0px 12px 0px 0px; right: 118px;
}
.green.area {
	opacity: 0.9;
}
.red.area {
	opacity: 0.9;
}
.cyan.area {
	opacity: 0.9;
}
.blue.area {
	opacity: 0.9;
}
.area {
	transition:300ms linear 100ms; -webkit-transition: all 300ms linear 100ms; -moz-transition: all 300ms linear 100ms; -o-transition: all 300ms linear 100ms;
}
.area h4 {
	transition:300ms linear 100ms; -webkit-transition: all 300ms linear 100ms; -moz-transition: all 300ms linear 100ms; -o-transition: all 300ms linear 100ms;
}
.member {
	padding: 0px; transition:400ms linear; visibility: hidden; opacity: 0; transform: scale(0); -webkit-transition: all 400ms linear; -moz-transition: all 400ms linear; -o-transition: all 400ms linear; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0);
}
.area:hover .member {
	visibility: visible; opacity: 1; transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1);
}
.last {
	margin-right: 0px !important;
}
.module {
	padding: 10px; width: 287px; line-height: 115%; margin-right: 15px; float: left; min-height: 190px;
}
.module h2 {
	margin: 0px 0px 15px; padding: 13px 0px 0px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.module h2 img {
	display: block;
}
.module h4 {
	margin: 0px; font-weight: normal;
}
.fff .module a {
	color: rgb(0, 0, 0);
}
.fff .module a:hover {
	color: rgb(250, 36, 88);
}
.adr {
	margin: 0px 0px 1.3em;
}
.fff .module .tel {
	color: rgb(0, 0, 0) !important; cursor: default;
}
.dark .module .tel {
	color: rgb(255, 255, 255) !important; cursor: default;
}
.copy {
	padding: 14px 0px 0px; font-size: 1em; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; display: block;
}
.arrow-list a::before {
	padding: 0px 5px 0px 0px; font-size: 22px; content: "?";
}
.social-media {
	margin: 0px;
}
.social-media li {
	margin: 0px 6px 0px 0px; overflow: hidden; float: left; display: inline;
}
.social-media a {
	background: url("/sites/numero10/themes/numero10/images/ico/social-media.png") no-repeat 0px 0px; width: 20px; height: 20px; text-indent: -999em; overflow: hidden; display: block;
}
.fb a {
	background-position: 0px 0px;
}
.twitter a {
	background-position: 0px -20px;
}
.in a {
	background-position: 0px -40px;
}
.insta a {
	background-position: 0px -60px;
}
.xing a {
	background-position: 0px -80px;
}
.pinterest a {
	background-position: 0px -100px;
}
.dark .fb a {
	background-position: -20px 0px;
}
.dark .twitter a {
	background-position: -20px -20px;
}
.dark .in a {
	background-position: -20px -40px;
}
.dark .insta a {
	background-position: -20px -60px;
}
.dark .xing a {
	background-position: -20px -80px;
}
.dark .pinterest a {
	background-position: -20px -100px;
}
.fb a:hover {
	background-position: -40px 0px;
}
.twitter a:hover {
	background-position: -40px -20px;
}
.in a:hover {
	background-position: -40px -40px;
}
.insta a:hover {
	background-position: -40px -60px;
}
.xing a:hover {
	background-position: -40px -80px;
}
.pinterest a:hover {
	background-position: -40px -100px;
}
.overlay {
	background: rgba(0, 0, 0, 0.8); left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 1;
}
.ie7 .overlay {
	background: url("/sites/numero10/themes/numero10/images/bg/opacity_80.png");
}
.ie8 .overlay {
	background: url("/sites/numero10/themes/numero10/images/bg/opacity_80.png");
}
.google-map {
	background: rgb(0, 0, 0); margin: 45px 0px; padding: 15px; position: relative;
}
.popup {
	background: rgb(0, 0, 0); margin: 145px auto 0px; padding: 10px; width: 580px;
}
.popup header {
	position: relative;
}
.popup h2 {
	height: 18px;
}
.popup h2 img {
	display: block;
}
.popup .close {
	top: 0px;
}
.dark .module {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255); margin-top: 90px;
}
#contact .dark .module {
	margin-top: 0px;
}
.dark .module h2 {
	border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.dark .copy {
	border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
@media print
{
* {
	background: none !important; color: black !important; filter: none !important; text-shadow: none !important;
}
a {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a[href]::after {
	content: " (" attr(href) ")";
}
abbr[title]::after {
	content: " (" attr(title) ")";
}
a[href^='javascript:']::after {
	content: "";
}
a[href^='#']::after {
	content: "";
}
pre {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
blockquote {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr {
	page-break-inside: avoid;
}
img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p {
	orphans: 3; widows: 3;
}
h2 {
	orphans: 3; widows: 3;
}
h3 {
	orphans: 3; widows: 3;
}
h2 {
	page-break-after: avoid;
}
h3 {
	page-break-after: avoid;
}
}
.anim-part {
	position: absolute; z-index: 10;
}
#preloader {
	left: 0px; top: 0px; width: 100%; height: 1000px; position: absolute; z-index: 9999; background-color: rgb(0, 0, 0);
}
#preloader .container {
	margin: -210px auto 0px; top: 50%; width: 250px; position: relative;
}
#preloader .pre-logo {
	margin: 0px auto; width: 212px; height: 212px; position: relative;
}
#preloader .img-circle {
	animation:circleAnim 2s linear infinite; left: 0px; top: 0px; position: absolute; -webkit-animation: circleAnim 2s infinite linear; -moz-animation: circleAnim 2s infinite linear; -o-animation: circleAnim 2s infinite linear;
}
#preloader .pre-text {
	text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 24px; font-family: Geogrotesque-MediumIt,"Trebuchet MS",sans-serif; font-size: 23px; position: relative;
}
#preloader .pre-text p {
	margin: 0px; padding: 0px 0px 15px;
}
#preloader .pre-text .text-loading {
	padding: 6px 0px 100px; color: rgb(229, 31, 78); text-transform: none; font-family: Geogrotesque-Regular,"Trebuchet MS",sans-serif; font-size: 16px;
}
#preloader .hint {
	font-size: 16px;
}
.node-type-works-index #preloader {
	display: none;
}
.node-type-works-client #preloader {
	display: none;
}
#wrapper {
	height: 31000px;
}
#scenes-container {
	width: 100%; margin-top: 0px; position: fixed;
}
#upper-scenes {
	position: relative;
}
#main-scenes {
	position: relative;
}
section.section {
	padding: 0px;
}
.page-container section.section {
	padding-top: 200px;
}
.page-container .fff .module a {
	color: rgb(250, 36, 88);
}
.page-container .fff .module a:hover {
	color: rgb(0, 0, 0);
}
#contact-top {
	height: 350px; padding-top: 104px;
}
#campaigns {
	height: 695px;
}
#news {
	height: 695px;
}
#home {
	height: 1050px;
}
#story {
	height: 1050px; z-index: 12;
}
#transmedia {
	height: 1050px;
}
#consumers_profiles {
	height: 1050px;
}
#brand_energy {
	height: 1050px;
}
#works {
	height: 1050px;
}
#team {
	height: 695px;
}
#contact {
	height: 380px;
}
.node-type-full-page #contact {
	height: 1065px;
}
#scenes-container > section {
	overflow: hidden;
}
#campaigns .content {
	top: 35px;
}
.latest-news .viewport {
	height: 200px; overflow: hidden;
}
.latest-news .news-3-cont {
	height: 200px;
}
.latest-news .news-band {
	top: 0px; position: relative;
}
section .appendix {
	left: 0px; top: 696px; width: 100%; position: absolute;
}
.split {
	background-position: center; background-repeat: no-repeat; background-size: auto auto;
}
.appendix {
	background-position: center; background-repeat: no-repeat; background-size: auto auto;
}
#home .appendix {
	z-index: 12; background-image: url("/sites/numero10/themes/numero10/images/artwork/background/01_home3.png");
}
#story .split-up {
	background-color: rgb(0, 0, 0);
}
#story .split-down {
	background-color: rgb(0, 0, 0);
}
#story .appendix {
	background-image: url("/sites/numero10/themes/numero10/images/artwork/background/02_storytelling3.png");
}
#transmedia .split-down {
	background-image: url("/sites/numero10/themes/numero10/images/artwork/background/03_transmedia2.jpg");
}
#transmedia .appendix {
	z-index: 10; background-image: url("/sites/numero10/themes/numero10/images/artwork/background/03_transmedia3.jpg");
}
#consumers_profiles .split-up {
	z-index: 11; background-color: rgb(0, 0, 0);
}
#consumers_profiles .split-down {
	z-index: 11; background-color: rgb(0, 0, 0);
}
#consumers_profiles .appendix {
	z-index: 11; background-image: url("/sites/numero10/themes/numero10/images/artwork/background/04_consumerprofiles3.png");
}
#brand_energy .split-down {
	background-image: url("/sites/numero10/themes/numero10/images/artwork/background/05_brandenergy2.jpg");
}
#brand_energy .appendix {
	background-position: top; background-image: url("/sites/numero10/themes/numero10/images/artwork/background/05_brandenergy3_new.jpg");
}
#team .split-up {
	background-image: url("/sites/numero10/themes/numero10/images/artwork/background/06_team1.jpg");
}
#team .split-down {
	background-image: url("/sites/numero10/themes/numero10/images/artwork/background/06_team2.jpg");
}
#contact .split-up {
	background-color: rgb(0, 0, 0);
}
#contact .split-down {
	background-color: rgb(0, 0, 0);
}
#contact .split-down {
	height: 500px; margin-top: -135px;
}
#contact .w1280 {
	position: relative;
}
#contact .wrap {
	top: 0px; width: 1280px; position: absolute;
}
#transmedia .sticker {
	z-index: 14;
}
#consumers_profiles .sticker {
	left: 43%;
}
#contact .sticker {
	left: 34%; top: 500px;
}
#contact .sticker span {
	background: 0px 0px rgb(168, 61, 255);
}
#team .sticker {
	left: 44%; top: 225px;
}
.z10 {
	z-index: 10;
}
.z11 {
	z-index: 11;
}
.z12 {
	z-index: 12;
}
.z13 {
	z-index: 13;
}
img.story {
	z-index: 13;
}
img.ring.story {
	z-index: 10;
}
.bgw {
	background-color: rgb(255, 255, 255);
}
#map .map-container {
	margin: 0px; text-align: center; padding-top: 15px; position: relative; background-color: rgb(255, 255, 255);
}
.map-container .loader {
	top: 40%; position: absolute;
}
#user-login {
	color: rgb(255, 255, 255); margin-top: 200px;
}
.awwward {
	top: 570px; position: fixed; z-index: 9000;
}
em {
	font: 100%/normal Geogrotesque-SemiBoldIt, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
#campaign-closing-area {
	width: 100%; height: 100%; position: absolute;
}
#campaigns .fancybox-close {
	top: -7px; right: 0px; z-index: 1;
}
#campaigns .split {
	z-index: 3;
}
.toTheTop {
	background: none; padding: 0px; border: 0px currentColor; transition:opacity 0.3s, transform 0.25s; border-image: none; right: 14px; bottom: -1px; visibility: hidden; position: fixed; z-index: 500; cursor: pointer;
}
.toTheTop em {
	background: url("/sites/numero10/themes/numero10/images/ico/top.png") no-repeat 0px 0px; width: 51px; height: 51px; vertical-align: middle; display: inline-block; position: relative;
}
.visible.toTheTop {
	visibility: visible; transform: translateY(0px);
}
.portfolio-container a {
	position: relative; z-index: 10;
}
.portfolio-container a.active {
	color: rgb(255, 255, 255);
}
.portfolio-container h1 {
	font: 2.12em/91% Geogrotesque-MediumIt, "Trebuchet MS", sans-serif; padding: 0px 0px 0.05em; text-transform: uppercase; margin-bottom: 0.3em; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;
}
.portfolio-container .h2 {
	font: 2.12em/91% Geogrotesque-MediumIt, "Trebuchet MS", sans-serif; padding: 0px 0px 0.05em; text-transform: uppercase; margin-bottom: 0.3em; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;
}
.portfolio-container h2 {
	padding: 0px 0px 0.2em; text-transform: uppercase; line-height: 91%; font-size: 1.12em; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 0;
}
.portfolio-container a h2 {
	color: rgb(255, 255, 255);
}
.portfolio-container a:visited h2 {
	color: rgb(255, 255, 255);
}
.portfolio-container a:hover h2 {
	color: rgb(255, 255, 255);
}
.portfolio-container h2::before {
	height: 180px; margin-top: -180px; display: block; visibility: hidden; content: " ";
}
.portfolio-container h3 {
	font: 1em/115% Geogrotesque-MediumIt, "Trebuchet MS", sans-serif; margin: 0px; font-size-adjust: none; font-stretch: normal;
}
.portfolio-container .text h3 {
	margin-bottom: 1em;
}
.portfolio-container .link-teaser {
	display: block;
}
.portfolio-container .link-teaser .link-teaser-text {
	background: rgb(250, 36, 88); padding: 7px 10px; left: 0px; width: 100%; height: 0px; text-align: left; bottom: 0px; color: rgb(0, 0, 0); line-height: 100%; display: none; position: absolute; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.portfolio-container .link-teaser:hover .link-teaser-text {
	height: auto; display: block;
}
.link-arrow::before {
	padding: 0px 5px 0px 0px; font-size: 22px; content: "?";
}
.portfolio-container {
	width: 100%; color: rgb(255, 255, 255); padding-bottom: 20px; position: relative;
}
.portfolio-container .container {
	padding: 10px; position: relative;
}
.portfolio-container .container-dark {
	background: rgb(0, 0, 0);
}
.portfolio-container .slider {
	background: rgb(0, 0, 0);
}
.footer .container-dark {
	background: rgb(0, 0, 0);
}
.footer .container-dark {
	color: rgb(255, 255, 255) !important;
}
.portfolio-container .col31 {
	width: 286px; overflow: hidden; margin-right: 36px; float: left; position: relative; z-index: 5;
}
.portfolio-container .col32 {
	width: 286px; overflow: hidden; margin-right: 36px; float: left; position: relative; z-index: 5;
}
.portfolio-container .col21 {
	width: 286px; overflow: hidden; margin-right: 36px; float: left; position: relative; z-index: 5;
}
.portfolio-container .col {
	width: 286px; overflow: hidden; margin-right: 36px; float: left; position: relative; z-index: 5;
}
.portfolio-container .col32 {
	width: 608px;
}
.portfolio-container .col21 {
	width: 447px;
}
.portfolio-container .col {
	width: 100%; margin-right: 0px; float: none;
}
.portfolio-container .col-last {
	margin-right: 0px;
}
.breadcrumb {
	padding-top: 117px;
}
.list-breadcrumb li {
	padding-right: 25px; float: left;
}
.list-breadcrumb li::before {
	padding: 0px 5px 0px 0px; font-size: 22px; content: "?";
}
.list-breadcrumb a {
	color: rgb(250, 36, 88);
}
.list-breadcrumb a:visited {
	color: rgb(250, 36, 88);
}
.list-breadcrumb a:hover {
	color: rgb(255, 255, 255);
}
.portfolio-container .slider-container {
	width: 100%; position: relative;
}
.portfolio-container .slider-container .slide {
	width: 100%; text-align: center; position: relative;
}
.portfolio-container .slider-container .slide .legend {
	background: rgb(250, 36, 88); padding: 5px 10px; left: 0px; top: 0px; color: rgb(0, 0, 0); display: block; position: absolute;
}
.portfolio-container .slider-back {
	background: url("/sites/numero10/themes/numero10/images/ico/portfolio-slider.png") no-repeat 0px 0px; left: 0px; top: 50%; width: 51px; height: 51px; text-align: left; line-height: 51px; text-indent: -999em; font-size: 0px; margin-top: -25px; display: block; position: absolute;
}
.portfolio-container .slider-next {
	background: url("/sites/numero10/themes/numero10/images/ico/portfolio-slider.png") no-repeat 0px 0px; left: 0px; top: 50%; width: 51px; height: 51px; text-align: left; line-height: 51px; text-indent: -999em; font-size: 0px; margin-top: -25px; display: block; position: absolute;
}
.portfolio-container .slider-next {
	background-position: 0px -60px; left: auto; right: 0px;
}
.portfolio-container .slider-back:hover {
	background-position: -60px 0px;
}
.portfolio-container .slider-next:hover {
	background-position: -60px -60px;
}
.portfolio-container .portfolio-logo {
	text-align: right; padding-top: 6px;
}
.portfolio-container .separator-title {
	margin-top: 30px;
}
.portfolio-container .text {
	background: rgb(0, 0, 0); padding: 10px;
}
.portfolio-footer .w1280 {
	width: auto;
}
.bx-wrapper {
	margin: 0px auto; padding: 0px; position: relative;
}
.bx-wrapper img {
	margin: 0px auto; display: block; max-width: 100%;
}
.bx-wrapper .bx-viewport {
	transform: translateZ(0px); -webkit-transform: translatez(0); -moz-transform: translatez(0); -o-transform: translatez(0);
}
.bx-wrapper .bx-pager {
	width: 100%; bottom: -30px; position: absolute;
}
.bx-wrapper .bx-controls-auto {
	width: 100%; bottom: -30px; position: absolute;
}
.bx-wrapper .bx-loading {
	background: url("/sites/numero10/themes/numero10/images/bx_loader.gif") no-repeat center rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 2000; min-height: 50px;
}
.bx-wrapper .bx-pager {
	background: rgb(250, 36, 88); padding: 5px 10px; left: 0px; top: 0px; width: 24px; height: 19px; text-align: center; color: rgb(0, 0, 0); display: block; position: absolute;
}
.bx-wrapper .bx-pager .bx-pager-item {
	display: inline-block;
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
}
.bx-wrapper .bx-default-pager.bx-pager a {
	background: rgb(102, 102, 102); margin: 0px 5px; outline: 0px; border-radius: 5px; width: 10px; height: 10px; text-indent: -9999px; display: block; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.bx-wrapper .bx-default-pager.bx-pager a:hover {
	background: rgb(0, 0, 0);
}
.bx-wrapper .bx-default-pager.bx-pager a.active {
	background: rgb(0, 0, 0);
}
.bx-wrapper .bx-prev {
	background: url("/sites/numero10/themes/numero10/images/ico/portfolio-slider.png") no-repeat 0px 0px; left: 0px;
}
.bx-wrapper .bx-next {
	background: url("/sites/numero10/themes/numero10/images/ico/portfolio-slider.png") no-repeat 0px -60px; right: 0px;
}
.bx-wrapper .bx-prev:hover {
	background-position: -60px 0px;
}
.bx-wrapper .bx-next:hover {
	background-position: -60px -60px;
}
.bx-wrapper .bx-controls-direction a {
	outline: 0px; top: 50%; width: 51px; height: 51px; text-indent: -9999px; margin-top: -26px; position: absolute; z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-wrapper .bx-controls-auto {
	text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
	background: url("/sites/numero10/themes/numero10/css/images/controls.png") no-repeat -86px -11px; margin: 0px 3px; outline: 0px; width: 10px; height: 11px; text-indent: -9999px; display: block;
}
.bx-wrapper .bx-controls-auto .bx-start:hover {
	background-position: -86px 0px;
}
.bx-wrapper .bx-controls-auto .active.bx-start {
	background-position: -86px 0px;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	background: url("/sites/numero10/themes/numero10/css/images/controls.png") no-repeat -86px -44px; margin: 0px 3px; outline: 0px; width: 9px; height: 11px; text-indent: -9999px; display: block;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover {
	background-position: -86px -33px;
}
.bx-wrapper .bx-controls-auto .active.bx-stop {
	background-position: -86px -33px;
}
.bx-wrapper .bx-has-pager.bx-has-controls-auto.bx-controls .bx-pager {
	width: 80%; text-align: left;
}
.bx-wrapper .bx-has-pager.bx-has-controls-auto.bx-controls .bx-controls-auto {
	width: 35px; right: 0px;
}
.bx-wrapper .bx-caption {
	background: rgba(80, 80, 80, 0.75); left: 0px; width: 100%; bottom: 0px; position: absolute;
}
.bx-wrapper .bx-caption span {
	padding: 10px; color: rgb(255, 255, 255); font-family: Arial; font-size: 0.85em; display: block;
}
@media only screen and (max-width:1279px)
{
.breadcrumb .wrap {
	margin: 0px 0px 0px 200px; width: auto;
}
.breadcrumb .container-dark {
	background: none;
}
}
.fancybox-wrap {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-skin {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-outer {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-inner {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-image {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-wrap iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-wrap object {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-nav {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-nav span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-tmp {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: top;
}
.fancybox-wrap {
	border-radius: 16px; left: 0px; top: 0px; position: absolute; z-index: 8020; -moz-border-radius: 16px; -webkit-border-radius: 16px;
}
.fancybox-skin {
	background: rgb(0, 0, 0); border-radius: 16px; color: rgb(255, 255, 255); position: relative; text-shadow: none; -moz-border-radius: 16px; -webkit-border-radius: 16px;
}
.map-fancy .fancybox-skin {
	background-color: rgb(255, 255, 255);
}
.fancybox-opened {
	z-index: 8030;
}
.fancybox-opened .fancybox-skin {
	box-shadow: 0px 10px 25px rgba(0,0,0,0.5); -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer {
	position: relative;
}
.fancybox-inner {
	position: relative;
}
.fancybox-inner {
	overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}
.fancybox-error {
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0px; padding: 15px; color: rgb(68, 68, 68); white-space: nowrap; font-size-adjust: none; font-stretch: normal;
}
.fancybox-image {
	width: 100%; height: 100%; display: block;
}
.fancybox-iframe {
	width: 100%; height: 100%; display: block;
}
.fancybox-image {
	max-height: 100%; max-width: 100%;
}
#fancybox-loading {
	background-image: url("/sites/numero10/themes/numero10/images/fancybox_sprite.png");
}
.fancybox-close {
	background-image: url("/sites/numero10/themes/numero10/images/fancybox_sprite.png");
}
.fancybox-prev span {
	background-image: url("/sites/numero10/themes/numero10/images/fancybox_sprite.png");
}
.fancybox-next span {
	background-image: url("/sites/numero10/themes/numero10/images/fancybox_sprite.png");
}
#fancybox-loading {
	background-position: 0px -108px; left: 50%; top: 50%; margin-top: -22px; margin-left: -22px; position: fixed; z-index: 8060; cursor: pointer; opacity: 0.8;
}
#fancybox-loading div {
	background: url("/sites/numero10/themes/numero10/images/fancybox_loading.gif") no-repeat center; width: 44px; height: 44px;
}
.fancybox-close {
	top: -18px; width: 36px; height: 36px; right: -18px; position: absolute; z-index: 8040; cursor: pointer;
}
.fancybox-nav {
	background: url("/sites/numero10/themes/numero10/images/blank.gif"); top: 0px; width: 40%; height: 100%; text-decoration: none; position: absolute; z-index: 8040; cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fancybox-prev {
	left: 0px;
}
.fancybox-next {
	right: 0px;
}
.fancybox-nav span {
	top: 50%; width: 36px; height: 34px; margin-top: -18px; visibility: hidden; position: absolute; z-index: 8040; cursor: pointer;
}
.fancybox-prev span {
	background-position: 0px -36px; left: 10px;
}
.fancybox-next span {
	background-position: 0px -72px; right: 10px;
}
.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	left: -99999px; top: -99999px; overflow: visible !important; visibility: hidden; position: absolute; max-height: 99999px; max-width: 99999px;
}
.fancybox-lock {
	
}
.fancybox-overlay {
	background: url("/sites/numero10/themes/numero10/images/fancybox_overlay.png"); left: 0px; top: 0px; overflow: hidden; display: none; position: absolute; z-index: 8010;
}
.fancybox-overlay-fixed {
	right: 0px; bottom: 0px; position: fixed;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
}
.fancybox-title {
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; visibility: hidden; position: relative; z-index: 8050; font-size-adjust: none; font-stretch: normal; text-shadow: none;
}
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	text-align: center; right: 50%; bottom: 0px; margin-bottom: -35px; position: absolute; z-index: 8050;
}
.fancybox-title-float-wrap .child {
	background: rgba(0, 0, 0, 0.8); padding: 2px 20px; border-radius: 15px; color: rgb(255, 255, 255); line-height: 24px; font-weight: bold; margin-right: -100%; display: inline-block; white-space: nowrap; text-shadow: 0px 1px 2px #222; -moz-border-radius: 15px; -webkit-border-radius: 15px;
}
.fancybox-title-outside-wrap {
	color: rgb(255, 255, 255); margin-top: 10px; position: relative;
}
.fancybox-title-inside-wrap {
	padding-top: 10px;
}
.fancybox-title-over-wrap {
	background: rgba(0, 0, 0, 0.8); padding: 10px; left: 0px; bottom: 0px; color: rgb(255, 255, 255); position: absolute;
}
.fancybox-inner .infograph {
	margin: 0px 0px 0px 130px;
}
.fancybox-inner .infograph .graphics {
	float: left;
}
.fff.fancybox-wrap {
	background-color: rgb(0, 0, 0);
}
.fancybox-inner .infograph .entry {
	padding-right: 12px;
}
